<section class="cart bg-gray-100 py-16">
  <% if(session.cart && session.cart.totalPrice!=0) { %>
   <div class="order container mx-auto px-4 xl:w-1/2">
       <div class="flex items-center border-b border-gray-300 pb-4">
          <img src="/img/cart-black.png" alt="cart">
          <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
       </div>
      <% for(let menu of Object.values(session.cart.items)) { %>
        <% if(menu.qty>0) {%>
       <div class="menu-list">
          <div class="flex items-center my-8">
            <div class="flex-1 px-1 xl:px-4"><img class="h-16 w-24 pr-4" src="/img/<%= menu.items.image %>" alt=""></div>
              <div class="flex-1 px-1 xl:px-4 lg:px-4"><h1><%= menu.items.name %></h1></div>
              <div class="flex-1 px-1 xl:px-2 lg:px-2"><%= menu.items.restaurant_name %></div>
              <div class="font-bold text-lg px-4 md:px-4 sm:px-4 xl:px-4 lg:px-4">₹ <%= menu.items.price * menu.qty %></div>
              <div class="flex cursor-pointer bg-teal-500 rounded-lg text-white focus:outline-none">
                <button type="button" onClick="refreshPage()" class="focus:outline-none">
                <div data-menu="<%= JSON.stringify(menu.items)%>" class="delete-to-cart cursor-pointer flex item-center justify-center "><span class="px-2 text-2xl py-0.5">-</span></div>
              </button>
                <div class="add-cart flex item-center  justify-center"><span class="add-cart px-2 text-md py-1"><%= menu.qty %></span></div>
                
                <button type="button" onClick="refreshPage()" class="focus:outline-none">
                <div data-menu="<%= JSON.stringify(menu.items)%>" class="add-to-cart flex cursor-pointer item-center justify-center"><span class="px-2 text-2xl py-0.5">+</span></div>
                </button>
              </div>
              <!-- <div>+</div>
              <div class="flex-1 pl-4 md:pl-4 sm:pl-4 xl:pl-4 lg:pl-4"><%= menu.qty %></div>
              <div>-</div> -->
             
              <div class="flex-1 pl-4 xl:pl-6 lg:pl-4">
              <button  class="delete-total cursor-pointer focus:outline-none hover:bg-teal-500 hover:text-white border-2 border-gray-200 font-medium font-bold rounded-lg text-sm px-5 py-2.5 text-center" data-menu="<%= JSON.stringify(menu.items)%>" type="button" onClick="refreshPage2()">Delete 
              </button>
            </div>
          </div>
          <% }%>
        <% } %>
       <hr>
       <div class="text-right py-4">
          <span class="font-bold text-lg">Total Amount:</span>
          <span class="text-teal-500 text-2xl font-vold">₹ <%= session.cart.totalPrice %></span>
       </div>
       <% if(user) {%>
       <div class="text-right">
       <a href="/customer/orderplaced">
       <button type="submit" class="text-white font-medium font-bold bg-teal-500 hover:bg-teal-600 font-medium rounded-full text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 "> Order Now</button>
       </a>
    </div>
       </div>
       <% } else { %>
       <div class="text-right py-4">
        <a href="/login">
        <button class="text-white bg-orange-500 hover:bg-orange-600 font-medium rounded-full text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 "> Login to Continue</button>
        </a>
       </div>
       <%}%>
   </div>
   <%}else{%>
    <div class="empty-cart py-2">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mb-2">Cart Empty 😒</h1>
            <p class="text-gray-400">You Probably haven't orderd yet.
                <br>
                For order,go to the main page.
            </p>
            <img src="/img/empty-cart.png" alt="empty-cart" class="w-2/5 mx-auto mt-4">
            <div class="mt-8">
            <a href="/" class="text-white bg-teal-500 hover:bg-teal-600 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2">Go Back</a>
            </div>
        </div>
    </div>
    <% } %>
  </section>

  <script>
    function refreshPage(){setTimeout(()=>{
        window.location.reload();
    }, 1000);
  }

    function refreshPage2(){setTimeout(()=>{
        window.location.reload();
    }, 2000);
  } 
  </script>