<section class="orders light-section">
            <% if(messages.success){ %>
            <div id="success-alert" class="flex items-center bg-green-500 text-white text-sm font-bold px-4 py-3" role="alert">
                <i class="fa-solid fa-info"></i>
                <p class="px-4"><%= messages.success %></p>
            </div>
            <% } %>
                <% if(orders.length){ %>
                    <h1 class="font-bold text-lg mb-4">All orders</h1>
                    <table class="w-full table-auto bg-white">
                        <thead>
                            <tr>
                                <th class="px-4 py-2 text-left">Orders</th>
                                <th class="px-4 py-2 text-left">Phone</th>
                                <th class="px-4 py-2 text-left">Items</th>
                                <th class="px-4 py-2 text-left">Special Instructions</th>
                                <th class="px-4 py-2 text-left">Address</th>
                                <th class="px-4 py-2 text-left">Time</th> 
                            </tr>
                        </thead>
                        <tbody>
                    <% orders.forEach(function(order) { %>
                <tr>
                    <td class="border px-4 py-2">
                        <a href="/customer/orders/<%= order._id%>" class="link text-orange-500"><%=order._id %></a>
                    </td>
                    <td class="border px-4 py-2">
                        <%=order.phone %>
                    </td>
                    <td class="border px-4 py-2 w-32">
                        <!-- <%  function renderItems(items) {
                            let parsedItems = Object.values(items)
                            return parsedItems.map((menuItem) => {
                                return `
                                     ${ menuItem.items.restaurant_name}:- ${ menuItem.items.name } - ${ menuItem.qty} pcs
                                `
                            })
                          } %> -->

                          <%= renderItems(order.items) %>
                          <br>
                        <!-- <%=order.items.name %> -->
                    </td>
                    <td class="border px-4 py-2">
                        <%=order.specialInstructions%>
                    </td>
                    <td class="border px-4 py-2">
                        <%=order.address %>
                    </td>
                    <td class="border px-4 py-2">
                        <%= moment(order.createdAt).format('hh:mm A') %>
                    </td>
                </tr>
                <% }); %>
                <% }else{%>
                    <<div class="empty-cart py-8">
                        <div class="container mx-auto text-center">
                            <h1 class="text-3xl font-bold mb-2">You don't have order yet😒</h1>
                            <p class="text-gray-400">You Probably haven't orderd yet.
                                <br>
                                For order,go to the main page.
                            </p>
                            <img src="/img/empty-cart.png" alt="empty-cart" class="w-2/5 mx-auto mt-4">
                            <div class="mt-8">
                            <a href="/" class="text-white bg-orange-500 hover:bg-orange-600 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2">Go Back</a>
                            </div>
                        </div>
                    </div>
                <% } %>
            </tbody>
        </table>
        </div>
</section>

<script>
     function renderItems(items) {
        let parsedItems = Object.values(items)
        return parsedItems.map((menuItem) => {
            return `
                 <p>${ menuItem.items.restaurant_name}:- ${ menuItem.items.name } - ${ menuItem.qty } pcs</p><br>
            `
        })
      }
</script>




